$fontH1: 2.7rem;
$fontH2: 1.9rem;
$fontH3: 2.5rem;
$fontTexto: 1.7rem;

$fontH1mobile: 2.5rem;
$fontH2mobile: 1.7rem;
$fontH3mobile: 2.5rem;
$fontTextomobile: 1.4rem;

.titulo-coreografias{
    text-align: center;
    margin-top: 0.5rem;
}

#salonContainer{
    margin-top: 1rem;
}

#periconContainer{
    margin-top: 2rem;
}

.ttContainer{
    margin-left: 1rem;
    margin-right: 1rem;
}

.descContainer{
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width:1024px){
    #periconContainer{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2rem;
    }
    #salonContainer{
        display: flex;
        margin-top: 2rem;
    }

    #texto-salon{
        width: 50%;
        font-size: $fontTexto;
        h2{
            font-size: $fontH2;
        }
    }

    #texto-pericon{
        width: 50%;
        font-size: $fontTexto;
        h2{
            font-size: $fontH2;
        }
    }

    .videoContainer{
        width: 50%;
    }

    .titulo-coreografias{
        font-size: $fontH1;
    }
}

@media screen and (min-width:768px){
    .titulo-coreografias{
        font-size: $fontH1;
    }
    #texto-salon{
        font-size: $fontTexto;
        h2{
            font-size: $fontH2;
        }
    }
    #texto-pericon{
        font-size: $fontTexto;
        h2{
            font-size: $fontH2;
        }
    }
}