.fecha-zamba{
    font-weight: bolder;
}

#organizacion-festivales{
    text-align: center;
    margin-top: 1rem;
}

.festivalContainer{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    h2{
        margin-left: 1rem;
    }
}

@media screen and (min-width:1024px){
    .festivalContainer{
        font-size: 2rem;
        h2{
            font-size: 2.7rem;
        }
    }
    #organizacion-festivales{
        font-size: 3rem;
    }
}

@media screen and (min-width:768px){
    .festivalContainer{
        font-size: 1.9rem;
        h2{
            font-size: 2.5rem;
        }
    }
    #organizacion-festivales{
        font-size: 2.8rem;
    }
}
