$fontH1: 2.7rem;
$fontH2: 1.9rem;
$fontH3: 2.5rem;
$fontTexto: 1.7rem;

$fontH1mobile: 2.5rem;
$fontH2mobile: 1.7rem;
$fontH3mobile: 2.5rem;
$fontTextomobile: 1.4rem;

#carouselFade{
    margin-top: 2rem;
    width: 80%;
    height: 100%;
}

#carouselExampleFade{
    width: 80%;
    height: 100%;
    margin-top: 2rem;
}

.titulo-galeria{
    text-align: center;
}

.presentacionContainer{
    font-size: $fontTextomobile;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

main{
    overflow-x: hidden;
}
@media screen and (min-width:1024px){
    #carouselFade{
        width: 70%;
        height: 50%;
    }
    #carouselExampleFade{
        width: 70%;
        height: 50%;
    }
    .presentacionContainer{
        p{
            font-size: $fontH1;
        }
        margin-top: 1rem;
    }
}

@media screen and (min-width:768px){
    .presentacionContainer{
        font-size: $fontH2;
    }
    main{
        overflow-y: hidden;
    }
}

