#carouselFade{
    margin-top: 2rem;
    width: 90%;
    height: 100%;
}

#carouselExampleFade{
    width: 90%;
    height: 100%;
    margin-top: 2rem;
}

.titulo-galeria{
    text-align: center;
}

.presentacionContainer{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (min-width:1024px){
    #carouselFade{
        width: 90%;
        height: 100%;
    }
    #carouselExampleFade{
        width: 90%;
        height: 100%;
    }
    #carousel1{
        grid-area: carousel1;
    }
    
    #carousel2{
        grid-area: carousel2;
    }
    
    #galeriaContainer{
        display: grid;
        grid-template-areas:
        "carousel1 carousel2";
        grid-template-columns: 49% 49%;
        grid-template-rows: 100%;
    }
    .presentacionContainer{
        font-size: 1.7rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width:768px){
    .presentacionContainer{
        font-size: 1.9rem;
    }
}
