header{
    background-color: #2D6F4C;
    color: aliceblue;
    font-size: 1.3rem;
}
.logoytxt{
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color:aliceblue;
    font-size: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    img{
        margin-right: 0.5rem;
    }
}